.btn {
  background-color: #F6F0EB;
  border-image-slice: 1;
  transition: all 0.3s ease;

  &:hover {
  } 

  &:active {
  }

  &:disabled,
  &:disabled:hover {
    background: rgb(219, 219, 219);
    color: #F7F1EC;
    cursor: not-allowed;
  }
}

.dark {
  .btn {
    background-color: #77bdff;
  }
}