.footer {
    p{
        color: gray;
    }
    div {
        svg {
            color: rgb(165, 165, 165);

            &:hover {
                color: #111;
            }
        }
    }
}

.dark .footer {
    p {
        color: #fff;
    }
    div{
        svg {
            &:hover {
                color: #fff;
            }
        }
    }
}